.sapMPage>.sapMPageHeader+section, .sapMPage>.sapMPageSubHeader+section, .sapMPage>.sapMPageHeader+.sapUiHiddenPlaceholder+section{
	top:2.5rem;
}
.cl_backgroundImage {
    background-image:  url("../Image/homeBg.svg") !important; /* path relative to your index.html */
    background-size: cover;       /* full coverage */
    background-position: center;  /* center image */
    background-repeat: no-repeat; /* avoid tiles */
    width: 100%;
    height: 100%;
}
.cl_TileBg{
	background-color : #f3f3f3;
	border-radius : 80px 0px 80px 0px;
}
.cl_TileBg:hover{
	background-color : #f3f3f3;
	border-radius : 80px 0px 80px 0px;
	border: 1px solid #3393A1;
}
.cl_downbgImage {
    background-image:  url("../Image/homdownBg.svg") !important; /* path relative to your index.html */
    background-size: cover;       /* full coverage */
    background-position: center;  /* center image */
    background-repeat: no-repeat; /* avoid tiles */
    width: 100%;
    height: calc(100vh - 22rem) !important;
}
.cl_homeNavtext{
	font-family:'Segoe UI' !important;
	font-size: 15px ;
	color : #000000;
	letter-spacing : 0.5px;
	font-weight : 500;
}
.cl_alignCewnter.sapMFlexItemAlignAuto{
	align-self: center;
}
.Cl_blueBold {
    color: #3393A1;
    font-weight: bold;
}
.Cl_welcomeText {
    font-size: 15px !important;
    font-family: Segoe UI !important;
}